@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #e195ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
    overflow-y: auto;
}

.todo-conteiner {
    width: 70%;
    background-color: #f3c1ff;
    padding: 20px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-conteiner{
    width: 70%;
    background-color: #bd24fa;
    padding: 10px;
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.419);
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.419);
}

.input-conteiner {

    margin: 10px;
    text-align: center;
}

#task-input {
    width: 70%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#add-task-btn {
    background-color: #bd24fa;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#add-task-btn:hover {
    background-color: #a31ee0;
    cursor: pointer;
}

#clear-btn {
    background-color: #e5aeff;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#clear-btn:hover {
    color: white;
    background-color: #bd24fa;
    cursor: pointer;
}

ul {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    background-color: #bd24fa;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.remove-btn {
    display: absolute;
    background-color: #ff4d4d;
    margin-left: 10px;
    padding: 2px 6px;
    border-radius: 5px;
    border: none;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.remove-btn:hover {
    background-color: #e03b3b;
    cursor: pointer;
}

.task {
    width: 20px;
    height: 20px;
    border: none;
    display: absolute;
    margin-left: 10px;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.filter-conteiner {
    width: 90%;
    margin: auto;
    justify-content: center;
    display: flex;
    gap: 10px;
    padding: 5px;
}

.filter-btn {
    width: 30% ;
    display: flex;
    background-color: #bd24fa;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter-btn:hover {
    background-color: #a31ee0;
    cursor: pointer;
}

img {
    width: 50px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 100%;
}

@media (max-width: 400px) {

    .filter-conteiner {
    flex-direction: column;
    align-items: stretch; /* faz os botões ocuparem toda a largura */
  }

  .filter-btn {
    width: 100%;
  }
}

